body {
    padding-top: 0px;
    padding-bottom: 40px;
    background-size: cover;
    background-image: url("http://www.wallpaperbetter.com/wallpaper/713/718/464/bar-tavern-drawing-hd-1080P-wallpaper-middle-size.jpg");
    color: white;
}